@import 'tailwindcss';
@import 'basecoat-css';

@font-face {
    font-family: 'DM Sans';
    src: url('.src/assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype'),
        url('.src/assets/fonts/DM_Sans/DMSans-VariableFont_opsz.ttf') format('truetype');
        font-weight: 100 900;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('./src/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
}


@theme {

    /* Neutral color palette */
    --color-neutral-900: hsl(243, 96%, 9%);
    --color-neutral-800: hsl(243, 27%, 20%);
    --color-neutral-700: hsl(243, 23%, 24%);
    --color-neutral-600: hsl(243, 23%, 30%);
    --color-neutral-300: hsl(240, 6%, 70%);
    --color-neutral-200: hsl(250, 6%, 84%);
    --color-neutral-0: hsl(0, 0%, 100%);

    /* Orange color palette */
    --color-orange-500: hsl(28, 100%, 52%);

    /* Blue color palette */
    --color-blue-500: hsl(233, 67%, 56%);
    --color-blue-700: hsl(248, 70%, 36%);

    /* Font families */
    --font-grotesque: 'Bricolage Grotesque', sans-serif;
    --font-dm-sans: 'DM Sans', sans-serif;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}